<%- include("header") -%>

<div class="row">
<div class="col-md-2">
<img style="height:150px;width:150px;"class="panda-img" src="https://media.giphy.com/media/69xvnBKHRaNkdoZNWd/source.gif" alt="panda-img">
</div>
<div class="col-md-6">
<div class="box" id="heading">
<h1> <%= listTitle %> </h1>
</div>
</div>
<div class="col-md-4">
<div class="custom">
<form action="/createList" method="post">
<input type="text" name="newList" placeholder="Create new List" autocomplete="off">
<button type="submit">+</button>
</form>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-md-2">
<input type="hidden" name="listName" value="<%= listTitle %>">
</div>

<div class="col-md-6">
<div class="box">
<% newListItems.forEach(function(item){ %>
<form action="/delete" method="post">
<div class="item">
<input type="checkbox" name ="checkbox" value="<%= item.id%>" onChange="this.form.submit()">
<p class="todo"><%=  item.name  %></p>

</div>
<input type="hidden" name="listName" value="<%= listTitle %>">

</form>
<% }); %>

<form class="item" action="/" method="post">
<input type="text" name="newItem" placeholder="New Item" autocomplete="off">
<button type="submit" name="list" value="<%= listTitle%>">+</button>
</form>
</div>
</div>
<div class="col-md-4">
<div class="row">
<div class="box" id="change">
<h4> Change List </h4>
</div>
</div>
<div class="row">
<div class="list-nav">
 <a style="color:#0e615c;"href="/">Home Page</a><br>
 <% lists.forEach(function(list){ %>
 <% if(list.name != "Favicon.ico") {%>
 <a style="color:#0e615c;"href="/<%=list.name%>"><%= list.name %> List</a><br>
 <% } %>
 <%});%>
</div>
</div>
</div>
</div>
</div>

<%- include("footer") -%>
